.navbar-nav {
    display: inline-flex;
    flex-direction: row;
}
.navbar-container {
    display: flex;
    width: 100%;
    padding: 0 3% 0 3%;
    align-items: center;
}

div.navbar-brand {
    margin: 0;
    padding: 0;
}
div.navbar-end {
    padding-left: 50%;
    text-align: center;
}

.navbar-container > div {
    flex: auto;
}