#Input-Main div{
  width: 20%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
#Input-Main div label{
  height: auto;
  width: 20%;
}
#Input-Main div input{
  height: auto;
  width: 70%;
}

#CenteringDiv{
  width: 100;
  text-align: center;
}
#calcButtonMain{
  width: 25%;
  height: 4em;
  text-align: center;
}
