<p>calctulator-basic works! (worked before i touched it today)</p>

<input type="number" id ="Input1" class="Input">
<label for="Input1">Input1</label>

<input type="number" id ="Input2" class="Input">
<label for="Input2">Input2</label>

<input type="number" id ="Input3" class="Input">
<label for="Input3">Input3</label>

<input type="number" id ="Input4" class="Input">
<label for="Input4">Input4</label>

<input type="number" id ="Input5" class="Input">
<label for="Input5">Input5</label>


<button id ="calcButton1"> Calculate </button>