<div class="calculator-container container bg-light p-4 rounded shadow">
  <section class="mb-4">
    <div class="separator">
      <div class="mb-3">
        <label for="salePriceInput" class="form-label">{{ 'sale_price' | translate }}</label>
        <input id="salePriceInput" type="number" 
        class="form-control"
        placeholder="0"
        [(ngModel)]="inputs.salePrice"
        (input)="calculateResults()"> 
      </div>

      <div class="mb-3">
        <label for="repairCostsInput" class="form-label">{{ 'repair_costs' | translate }}</label>
        <input id="repairCostsInput" type="number" 
          class="form-control"
          placeholder="0"
          [(ngModel)]="inputs.repairCosts" 
          (input)="calculateResults()">
      </div>

      <div class="mb-3">
        <label for="aprInput" class="form-label">{{ 'apr_percent' | translate }}</label>
        <input id="aprInput" type="number" 
          class="form-control"
          placeholder="0" 
          [(ngModel)]="inputs.apr"
          (input)="calculateResults()">
      </div>

      <div class="mb-3">
        <label for="loanYearsInput" class="form-label">{{ 'loan_years' | translate }}</label>
        <input id="loanYearsInput" type="number" 
          class="form-control" 
          placeholder="0"
          [(ngModel)]="inputs.loanYears"
          (input)="calculateResults()">
      </div>
    </div>  
  </section>

  <div class="text-center">
    <button id="calculateButton" (click)="calculateResults()" class="btn btn-primary w-100">
      {{ 'calculate' | translate }}
    </button>
  </div>

  <div id="resultDiv" class="mt-4 p-3 text-white rounded" style="background-color: #03a9f4;">
    <div class="separator">
      <h3>{{ 'purchase_costs' | translate }}: <br> {{ results.purchaseCosts | number : '1.2-2'}} </h3>
      <h3>{{ 'credit' | translate }}: <br> {{ results.credit| number : '1.2-2' }}</h3>
      <h3>{{ 'monthly_payment' | translate }}: <br> {{ results.monthlyPayment | number : '1.2-2' }}</h3>
    </div>
  </div>    
</div>

