.calculator {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.calculator-container {
  width: 100%;
}
@media screen and (min-width: 1080px) {
  .calculator-container {
    width: 60%;
  }
}

.separator {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5em;
  column-gap: 1.5em;

  > :last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }
}

.results {
  background-color: white;

  .result-label {
    font-size: 1.2em;
  }
}

.calculator-sidebar {
  width: 15%;
  position: absolute;
  right: 2em;
}