*:not(input):not(input *) {
  margin: 0;
  padding: 0;
}
.calculator {
  width: 100%;

  > :first-child {
    width: 100%;
    margin-bottom: 1rem;
  }
  > :last-child {
    width: 60%;
  }
  
  @media screen and (min-width: 1080px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    > :first-child {
      margin-left: 15%;
      width: 60%;
    }
    > :last-child {
      width: 15%;
    }
  }
}

.separator {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5em;
  column-gap: 1.5em;

  > :last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }
}

.results {
  background-color: white;

  .result-label {
    font-size: 1.2em;
  }
}
