/* calculate button */
main #CenteringDiv{
  width: 100;
  text-align: center;
}
main #calcButtonMain{
  width: 20%;
  height: 3em;
  text-align: center;
}

/* inputs in main */
main section div{
  width: 20%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
main section label{
  height: auto;
  width: flex;
}
main section input{
  height: auto;
  width: 70%;
}
