main #Input-Main div{
  width: 20%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
main #Input-Main div label{
  height: auto;
  width: flex;
}
main #Input-Main div input{
  height: auto;
  width: 70%;
}

main #CenteringDiv{
  width: 100;
  text-align: center;
}
main #calcButtonMain{
  width: 20%;
  height: 3em;
  text-align: center;
}