<div class="calculator-container container bg-light p-4 rounded shadow">
  <section class="mb-4">
    <div class="mb-3">
      <label for="creditInput" class="form-label">{{ 'loan_amount' | translate }}</label>
      <input id="creditInput" type="number"
        class="form-control"
        placeholder="0"
        [(ngModel)]="inputs.credit"
        (input)="calculateLoan()">
    </div>

    <div class="mb-3">
      <label for="loanTermInput" class="form-label">{{ 'loan_term' | translate }}</label>
      <input id="loanTermInput" type="number"
        class="form-control"
        placeholder="0"
        [(ngModel)]="inputs.loanTerm"
        (input)="calculateLoan()">
    </div>

    <div class="mb-3">
      <label for="aprInput" class="form-label">{{ 'annual_interest_rate' | translate }}</label>
      <input id="aprInput" type="number"
        class="form-control"
        placeholder="0"
        [(ngModel)]="inputs.apr"
        (input)="calculateLoan()">
    </div>
  </section>

  <div class="text-center">
    <button id="calculateLoanButton" (click)="calculateLoan()" class="btn btn-primary w-100">
      {{ 'calculate' | translate }}
    </button>
  </div>

  <div class="results mt-4 p-3 text-white rounded" style="background-color: #03a9f4;" *ngIf="result.monthlyPayment !== null">
    <h3>{{ 'monthly_payment' | translate }}: {{ result.monthlyPayment | number : '1.2-2' }}</h3>
    <h3>{{ 'total_payment' | translate }}: {{ result.totalPayment | number : '1.2-2' }}</h3>
  </div>
</div>