.separator{
  width: 100%;
  columns: 2;
}

.results {  
  background-color: white;

  .result-label {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1080px) {
  .calculator-container {
    width: 60%;
  }
}